# 1.

In [2]:
def solution(a,b):
    a_str, b_str = str(a), str(b)
    ab = int(a_str + b_str)

    if ab >= 2*a*b:
        return ab
    else:
        return 2*a*b
solution(1 ,19)

119

# 2.

In [3]:
def solution(number, n, m):
    if number%n == 0|number%m ==0:
        return 1
    else:
        return 0
solution(60, 2, 3)

1

# 3.

In [4]:
def solution(n):
    if n % 2 == 0:
        return sum(i**2 for i in range(1, n+1) if i % 2 == 0)
    else:
        return sum(i for i in range(1, n+1) if i % 2 == 1)
solution(14)

560

# 3.

In [8]:
def compare(i, e, n, m):
    if i == '>' and e == '=':
        return n >= m
    if i == '<' and e == '=':
        return n <= m
    if i == '>' and e == '!':
        return n > m
    if i == '<' and e == '!':
        return n < m
    
def solution(i, e, n, m):
    if compare(i, e, n, m):
        return 1
    else:
        return 0
solution('<','=',20,50)

1

# 4.

In [11]:
def solution(a, d, included):
    answer = []
    for i in range(len(included)):
        answer.append(a)
        a+= d
    
    total = 0
    for i in range(len(included)):
        if included[i]:
            total += answer[i]
    return total
solution(3 ,4 ,[True, False, False, True, True])

37

# 5.

In [12]:
def solution(numbers):
    answer  = []
    for i in range(len(numbers)):
        answer.append(numbers[i]*2)
    return answer
solution([1, 2, 100, -99, 1, 2, 3])

[2, 4, 200, -198, 2, 4, 6]

# 6.

In [16]:
def solution(num_list):
    answer = []
    for i in range(1, len(num_list)+1):
        answer.append(num_list[-i])
    return answer
solution([1, 0, 1, 1, 1, 3, 5])

[5, 3, 1, 1, 1, 0, 1]

# 7.

In [17]:
def solution(strlist):
    answer = []
    for i in range(len(strlist)):
        answer.append(len(strlist[i]))
    return answer
solution(["We", "are", "the", "world!"])

[2, 3, 3, 6]

# 8.

In [21]:
def solution(sides):
    if any(side <= 0 for side in sides):
        return 2
    m = max(sides)
    if m >= sum(sides) - m:
        return 2
    else:
        return 1
solution([199, 72, 222])

1